{% extends "header.html" %}
{% block content %}
    <section id="main" class="wrapper">
    <div class = "container">
    <header class="major special">
      <p>
        {% for message in get_flashed_messages() %}
           {{message}}
       {% endfor %}
      </p>
      <h2>Hello, Dr. <style="color: #E34B4B">{{username}} </style="color:>  </h2>
       
      <p>
        {% for message in get_flashed_messages() %}
           {{message}}
       {% endfor %}
      </p>
      <!--<p>Please, Select the table you want to search, add to or remove entries from</p>-->
    <section>
        <div class="box alt">
          <div class="row">
             <div class="4u 12u$(xsmall)">
                <span class="image fit plus">
                  <img src="static/images/outline-2autotranscribe_1.svg" alt="" />
                        <a href="search.php" class="button special fit plus">Search</a>
                </span>
              </div>
              <div class="4u 12u$(xsmall)">
                <span class="image fit plus">
                <form action = "http://localhost:5000/uploads" method = "POST" 
                      enctype = "multipart/form-data">
                  <img src="static/images/outline-1upload.svg" alt="" />
                  <input type="file" name="file"><br /><br />
                  <input id = "upload" type="submit" name="submit" value="upload" class="button special fit plus "></input>
                </form>
                </span>
              </div>
              
              <div class="4u 12u$(xsmall)">
                <span class="image fit plus">
                  <img src="static/images/outline-5edit.svg" alt="" />
                  <a href="insert.php" class="button special fit plus ">Add</a>
                </span>
              </div>
              
            </div>
        </div>
    </div>
     <hr>
    <section>
        <ul class="actions" id="another">
          <form action="" method="post">
           <input id = "Logout" type="submit" name="submit" value="logout" class=""></input>
          </form>
         </ul>
    </section>
    </section>
    </header>
  </div>
</section>
  
{% endblock %}