{% extends "header.html" %}
{% block content %}
	<section id="main" class="wrapper">
    <div class = "container">
    <header class="major special">
      <!-- <h2>Search below</h2> -->
	  {% if deliveried %}
	     <p style="color: #E34B4B">  {{deliveried}} </p>
		 <h1> Thank you for trusting in us. </h1>
	  {% endif %}
	  
    <section>
      <form method="post" action="">
        <div class="row uniform 60%">
		
          <div class="-6_5u 2u$(medium)"/>
            <input type="text" name="email" value="{{request.form.email}}" placeholder="Email" />
        </div>
		  <div class="12u$">
            <ul class="actions" style="width: 10%; margin: 50px auto 0;">
              <li><input id = "btnsend" type="submit" name="submit" value="send" class="special" /></li>

            </ul>
          </div>

	
      </form>
	  
    </section>
	</div>
</header>
</section>
{% endblock %}