<!DOCTYPE HTML>	
<html>
	<head>
		<title> Happy Derma</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="static/html5shiv.js"></script><![endif]-->
		<script src="static/jquery.min.js"></script>
		<script src="static/skel.min.js"></script>
		<script src="static/skel-layers.min.js"></script>
		<script src="static/init.js"></script>
		<script src="static/submit_login.js"></script>
		<script src="static/forget_page.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/skel.css" />
		<link rel="stylesheet" type="text/css" href="static/css/style-xsmall.css" />
		<link rel="stylesheet" type="text/css" href="static/css/style-xlarge.css" />

		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css" />

	</head>
	<body class="landing">
		
	<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a <style="color: #E34B4B"></style="color:> Happy Derma</a></strong></h1>
				<nav id="nav">
					<ul>
						<form action="" method="post">
							<div class="row uniform 40%">
							<li><input id = "home" type="submit" name="submit" value="home" class=""> </a></li>
							<li><input id = "request" type="submit" name="submit" value="request" class=""> </a></li>
							<li><input id = "datacenter" type="submit" name="submit" value="datacenter" class=""> </a></li>
							</div>
						</form>
					</ul>
				</nav>
			</header>
	
		 {% block content %}{% endblock %}
	</div>
	</section>
	
	</body>
</html>
