{% extends "header.html" %}
{% block content %}	
<!-- Banner -->
<section id="banner">
				<h2>Welcome to our dermatology clinic</h2>
				<p>
					We strive to deliver the highest quality of care to patients with skin<br>disorders in a discreet and compassionate setting
				</p>
				<p>
				 {% for message in get_flashed_messages() %}
				  {{message}}
				{% endfor %}
				</p>
				<ul class="actions" style="visibility: hidden;">
					<li><a href="search.php" class="button special big">Search now</a></li>
				</ul>
</section>
<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major" id="less-margin0">
									<h2>Because we love our patients</h2>
									<!-- <p>Perspiciatis doloremque recusandae dolor</p> -->
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>We offer general dermatologic care and cosmetic services. We provide comprehensive skin cancer treatment, from total body skin examination and diagnosis, through the curative surgical treatment.</p>
								<p>We also recognize that people live in a society that equates youth with beauty. In truth, beauty is independent of age but is the graceful projection of one’s age. We believe that the best aesthetic results appear natural and subtle. The skin and face should appear radiant and refreshed, hallmarks of natural and healthy beauty.</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Inside the Clinic</h2>
							<p>We would love to see you around</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="static/images/inside1.jpg" alt="" />
									<h3>The examination room</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="static/images/inside2.jpg" alt="" />
									<h3>The reception</h3>
								</div>
							</div>
						</div>
						<!-- <ul class="actions">
							<li><a href="#" class="button special big">Nulla luctus</a></li>
							<li><a href="#" class="button big">Sed vulputate</a></li>
						</ul> -->
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Some devices we have</h2>
							<p>We have only the latest technology available</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="static/images/MyVeronaNJ-MelaFind.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Melafind</h4>
										<p>used for melanomia diagnosis</p>
									</header>
									<p>If the lesion is suspicious after the Melafind exam, of course, a definite biopsy is performed.</p>
									
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/Dermatoscope1.JPG" alt="" /></div>
								<div class="content">
									<header>
										<h4>Dermatoscope</h4>
										<p> useful to dermatologists in distinguishing benign from malignant (cancerous) lesion.</p>
									</header>
									<p> This traditionally consists of a magnifier (typically x10), a non-polarised light source.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/carismed.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Carismed</h4>
										<p>for the treatment of cellulite in women</p>
									</header>
									<p>Based on our expertise of what is required for this body type, the area and the aesthetic indication in this case.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="static/images/revive.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Revive</h4>
										<p>For Microneedling & Micropigmentation</p>
									</header>
									<p>Singel use needle cartridge with patented safety membrane which is Suitable for treatment of all skin tones, including darker tones</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>You're always welcome here</h2>
							<p>see you soon</p>
						</header>
						<ul class="actions" style="visibility:hidden">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>
		<!-- Footer -->
<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; All copy right reserved</li>
					</ul>
				</div>
</footer>
{% endblock %}
