{% extends "header.html" %}
{% block content %}
	<section id="main" class="wrapper">
    <div class = "container">
    <header class="major special">
      <!-- <h2>Search below</h2> -->
      <p>please, fill the following form</p>
    </header>

    <section>
      <form method="post" action="">
        <div class="row uniform 50%">

          <div class="6u 12u$(xsmall)">
            <input type="text" name="SSN4Add" id="name" value="" placeholder="SSN (Last Four)" />
          </div>
          <div class="6u$ 12u$(xsmall)">
            <input type="text" name="FirstNameAdd" id="name" value="" placeholder="First Name" />
          </div>
          <div class="6u 12u$(xsmall)">
            <input type="text" name="MiddleNameAdd" id="name" value="" placeholder="Middle Name" />
          </div>
          <div class="6u$ 12u$(xsmall)">
            <input type="text" name="LastNameAdd" id="name" value="" placeholder="Last Name" />
          </div>
          <div class="4u 12u$(xsmall)">
            <input type="text" name="AgeAdd" id="name" value="" placeholder="Age" />
          </div>
          <div class="4u 12u$(xsmall)">
            <input type="text" name="SexAdd" id="name" value="" placeholder="Sex" />
          </div>
          <div class="4u$ 12u$(xsmall)">
            <input type="text" name="phoneAdd" id="name" value="" placeholder="Phone no." />
          </div>
          <div class="6u 12u$(xsmall)">
            <input type="text" name="emailAdd" id="name" value="" placeholder="E-mail" />
          </div>
           <div class="6u$ 12u$(xsmall)">
            <input type="text" name="addressAdd" id="name" value="" placeholder="Address" />
          </div>

          <div class="12u$">
            <ul class="actions" style="width: 8%; margin: 50px auto 0;">
              <li><input type="submit" name="submit" value="Submit" class="special" /></li>
            </ul>
          </div>

        </div>
      </form>
    </section>
  </div>
</section>

{% endblock %}
