{% extends "header.html" %}
{% block content %}
	<section id="main" class="wrapper">
    <div class = "container">
		<header class="major special">
      <!-- <h2>Search below</h2> -->
	  <form action="" method="post">
	  {% if error %}
	     <p style="color: #E34B4B">  {{error}} </p>
		 <h1> Forget your ID? </h1>
		 <li><input id = "btnforget" type="submit" name="submit" value="Forget" class="" /></li>
	  {% endif %}
	   <p style="color: #E34B4B"> 
        {% for message in get_flashed_messages() %}
           {{message}}
        {% endfor %}
      </p>
	<p>You have to be a verified member of the clinic to go further</p>
	</form>
    <section>
      <form action="" method="post" >
        <div class="row uniform 40%">
		  

          <div class="6u 12u$(small)"/>
            <input type="text" name="username" value="{{request.form.username}}" placeholder="Username or Email" />
          </div>
		  <div class="6u 12u$(small)"/>
		  <input type="text" name="id" value="{{request.form.id}}" placeholder="User ID" />
          </div>
	
		  <div class="12u$">
            <ul class="actions" style="width: 10%; margin: 50px auto 0;">
              <li><input id = "btnLogin" type="submit" name="submit" value="Login" class="special" /></li>

            </ul>
          </div>

        </div>
	
      </form>
	  
    </section>
	</div>
	</header>
	</section>
{% endblock %}